NODE_ENV=test
PORT=9999
LOG_LEVEL=silent
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
REDIS_URL="redis://localhost:6379/0"
CLIENT_JWT_SECRET="test-client-jwt-secret-at-least-32-characters"
ADMIN_JWT_SECRET="test-admin-jwt-secret-at-least-32-characters"
ACCESS_KEY_ID="test-access-key"
SECRET_ACCESS_KEY="test-secret-key"
ENDPOINT="https://example.com"
BUCKET_NAME="test-bucket"
TRUSTED_PROXY_IPS="private"
